<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966915526692-l3b63h9idhi7jj0o6v3e96memiab4p5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966915526692-l3b63h9idhi7jj0o6v3e96memiab4p5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBsX8oJQEVwRKf3oBpk7-SdV--8TjIal-0</string>
	<key>GCM_SENDER_ID</key>
	<string>966915526692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Justin-Kalan.FootballPickEmApp</string>
	<key>PROJECT_ID</key>
	<string>footballapp-e5787</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp-e5787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966915526692:ios:c1f4130f6306f558</string>
	<key>DATABASE_URL</key>
	<string>https://footballapp-e5787.firebaseio.com</string>
</dict>
</plist>